@import './../../../../../../../../styles/_variables.scss';
.content-label {
    font-weight: bold
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
        .modal-body {
            padding: 30px 15px;
        }
    }
}