@import './../../../../../../styles/_variables.scss';
.cnt-page.ttkt-page {
    .ttkt-form-default {
      .table-responsive {
        thead {
          background-color: $colorLightGray;
          tr {
            th {
              text-align: center;
              vertical-align: middle
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
            }
            .router {
              cursor: pointer;
            }
            .router:hover {
              color: $colorBlue;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  
  .trangthai_0 {
    color: #4332ff;
    font-weight: bold;
    cursor: pointer;
    // i {
    //   color: black;
    // }
  }
  
  .trangthai_1 {
    // color: #4332ff;
    font-weight: bold;
  }
  