<div class="cnt-page ttkt-page">
  <div class="ttkt-form-default">
    <div>
      <div>
        <form>
        <fieldset class="fieldset-search">
          <legend>Thông tin tìm kiếm</legend>
          <div [formGroup]="searchForm">
            <div class="row">
              <div class="col-sm-4 col-xl-4">
                <div class="row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Từ ngày
                      <span class="text-danger"> *</span>: </label>
                  </div>
                  <div class="col-xl-7">
                    <my-date-picker [options]="myDatePickerOptions" locale="vi" formControlName="tungay"></my-date-picker>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-xl-4">
                <div class="row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Đến ngày
                      <span class="text-danger"> *</span>: </label>
                  </div>
                  <div class="col-xl-7">
                    <my-date-picker [options]="myDatePickerOptions" locale="vi" formControlName="denngay"></my-date-picker>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-xl-4 text-center">
                <button class="btn btn-default" (click)="search(true)">
                  <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
      <form>
        <fieldset>
          <legend>{{title | uppercase }} ĐOÀN TTKT</legend>
          <div class="danhsach-doanttkt">
            <div class="table-responsive table-scroll-x">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="th-size">STT</th>
                    <th class="table-resize">Tên đoàn TTKT</th>
                    <th>Ngày quyết định</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="dsDoanTTKT?.length == 0">
                    <td class="text-center" colspan="6">Không có dữ liệu</td>
                  </tr>
                  <tr *ngFor="let doan of dsDoanTTKT; let i = index">
                    <td class="text-center">{{pagging.currentPage * pagging.itemsPerPage + i + 1}}</td>
                    <td class="text-left text-primary" (click)="showBaoCaoOrKLDetail(doan.thanhLapDoanId)">
                      <span class="chitiet-qd">{{doan.tenQuyetDinh}}</span>
                    </td>
                    <td class="text-center">{{doan.ngayQuyetDinh | date:"dd/MM/yyyy"}}</td>
                    <td class="text-center" title="Xem báo cáo">
                      <div *ngIf="title == 'báo cáo' && doan.hasBaoCao">
                        <button class="btn btn-success btn-sm detail" (click)="showBaoCaoOrKLDetail(doan.thanhLapDoanId)">
                          <i class="fa fa-eye" aria-hidden="true"></i> Xem</button>
                      </div>
                      <div *ngIf="title == 'kết luận' && doan.hasKetLuan">
                        <button class="btn btn-success btn-sm detail" (click)="showBaoCaoOrKLDetail(doan.thanhLapDoanId)">
                          <i class="fa fa-eye" aria-hidden="true"></i> Xem</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- pagination -->
            <nav aria-label="Page navigation example" *ngIf="pagging.totalItems > 1" class="pull-right">
              <pagination [totalItems]="pagging.totalItems" [itemsPerPage]="pagging.itemsPerPage" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </nav>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
