<h4 class="heading-page">
  <div class="row">
    <div class="col-md-6">
      <span class="page-title">Chi tiết báo cáo kết quả TTKT</span>
    </div>
    <div class="col-md-6 pull-right">
      <!-- <button type="button" class="btn btn-success" (click)="duyetBC()">
        <i class="fa fa-check" aria-hidden="true"></i> Duyệt</button>
      <button type="button" class="btn btn-default" (click)="tuChoiBC()">
        <i class="fa fa-ban" aria-hidden="true"></i> Từ chối</button> -->
      <button type="button" class="btn btn-success" (click)="printExcel()">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất Excel</button>
      <button type="button" class="btn btn-primary ">
        <i class="fa fa-print" aria-hidden="true"></i> In</button>
    </div>
  </div>
</h4>
<div class="cnt-page ttkt-page">
  <div class="ttkt-form-default">
    <form novalidate>
      <fieldset>
        <legend>Thông tin chung</legend>
        <div class="form-group mb-0 ml-4">
          <label for="" class="col-form-label">Tên báo cáo: </label>
          <label for="" class="col-form-label content-label">{{ noiDungBaoCao.tenBc }} </label>
        </div>
        <div class="form-group mb-0 ml-4">
          <label for="" class="col-form-label">Số: </label>
          <label for="" class="col-form-label content-label">{{ noiDungBaoCao.soBc }} </label>
        </div>
        <div class="form-group mb-0 ml-4">
          <label for="" class="col-form-label">Ngày lập: </label>
          <label for="" class="col-form-label content-label">{{ noiDungBaoCao.ngayLap | date: 'dd/MM/yyyy' }} </label>
        </div>
      </fieldset>
      <div class="bang-th">
        <ttkt-chitiet-so-tonghop-kq-form [data]="noiDungBaoCao.content" [passData]="true" title="Báo cáo tổng hợp"
          typeAccount="TW"></ttkt-chitiet-so-tonghop-kq-form>
      </div>
    </form>
    <div class="pull-right">
      <button type="button" class="btn btn-link pull-right" (click)="closeChiTietBaoCao()">
        <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> Trở lại</button>
    </div>
  </div>
</div>

<!-- duyet modal -->
<div bsModal #duyetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Duyệt báo cáo</h5>
        <button type="button" class="close pull-right" (click)="duyetModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Bạn có chắc chắn muốn duyệt báo cáo?</h6>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-success" (click)="onSubmitDuyet()">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> Duyệt</button>
          <button class="btn btn-default" (click)="duyetModal.hide()">
            <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tu choi modal -->
<div bsModal #tuChoiModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Từ chối báo cáo</h5>
        <button type="button" class="close pull-right" (click)="tuChoiModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-form-label col-md-3">Lý do từ chối</label>
          <textarea class="form-control col-md-8" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-danger" (click)="onSubmitTuChoi()">
            <i class="fa fa-ban" aria-hidden="true"></i> Đồng ý</button>
          <button class="btn btn-default" (click)="tuChoiModal.hide()">
            <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>
