<!-- gui Modal -->

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Chi tiết nghiệp vụ</h5>
    <button type="button" class="close pull-right" (click)="modalNghiepVu.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form novalidate [formGroup]="modalNghiepVuForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row" [ngClass]="(modalNghiepVuForm.controls.tenNghiepVu?.errors && (modalNghiepVuForm.controls.tenNghiepVu?.touched || modalNghiepVuForm.controls.tenNghiepVu?.dirty)) ? 'has-danger' : ''">
              <label for="" class="col-form-label col-md-4 text-lg-right">Tên nghiệp vụ:
                <span class="text-danger">*</span>
              </label>
              <div class="col-md-8">
                <input class="form-control" type="text" #nghiepVu formControlName="tenNghiepVu">
                <p class="text-danger" *ngIf="(modalNghiepVuForm.value.tenNghiepVu.trim() == '') && (modalNghiepVuForm.controls.tenNghiepVu?.touched || modalNghiepVuForm.controls.tenNghiepVu?.dirty)">Tên nghiệp vụ không được để trống</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="modalNghiepVuForm.value.tenNghiepVu.trim() == ''">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
        <button type="button" class="btn btn-default" (click)="modalNghiepVu.hide()">
          <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
      </div>
    </div>
  </div>


<!-- <div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Gửi quyết định</h5>
    <button type="button" class="close pull-right" (click)="modalGui.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="guiModalForm">
      <div class="form-group row">
        <label for="" class="col-form-label col-md-3 text-lg-right">Gửi:
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-9">
          <select class="custom-select" id="" formControlName="inputSend" [attr.disabled]="true">
            <option value="" selected>Chọn tỉnh</option>
            <option *ngFor="let tinh of dsTinh" [value]="tinh.dmTinhHuyenId || tinh.id">{{ tinh.tenTinhHuyen }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-md-3 text-lg-right">Lời nhắn:
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-9">
          <textarea class="form-control form-rounded" formControlName="loiNhan" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmitGuiModal()">
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Gửi</button>
    <button type="button" class="btn btn-default" (click)="modalGui.hide()">
      <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
  </div>
</div> -->
