<h4 class="heading-page">
  <div class="row">
    <div class="col-md-8">
      <span class="page-title-breadcrumb">Kế hoạch Bảo Hiểm Xã Hội Việt Nam</span>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span class="page-title text-primary">Chi tiết kế hoạch năm {{ keHoachNam }}</span>
    </div>
    <div class="col-md-4 pull-right">
      <button class="btn btn-primary" (click)="goToCapNhat()" *ngIf="isDuyet">
        <i class="fa fa-pencil" aria-hidden="true"></i> Sửa</button>
      <button type="button" class="btn btn-success" (click)="onDuyet()" *ngIf="isDuyet">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Duyệt</button>
      <button class="btn btn-primary" (click)="goToDieuChinh()" *ngIf="!isDuyet">
        <i class="fa fa-line-chart" aria-hidden="true"></i> Điều chỉnh</button>
      <button class="btn btn-default" (click)="in()">
        <i class="fa fa-print" aria-hidden="true"></i> In</button>
      <button type="button" class="btn btn-link" (click)="onClose()">
        <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> Trở lại</button>
    </div>
  </div>
</h4>

<div class="cnt-page ttkt-page">
  <div class="ttkt-form-default">
    <form novalidate [formGroup]="kehoachChitietForm">

      <!-- <fieldset *ngIf="isDieuChinh">
                <legend>Thông tin điều chỉnh </legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-xl-4 text-xl-right">
                                <label class="col-form-label">Lần điều chỉnh: </label>
                            </div>
                            <div class="col-xl-8">
                                <select class="custom-select" formControlName="lanDieuchinh" (change)="chonDieuChinh(kehoachChitietForm.value.lanDieuchinh)">
                                    <option *ngFor="let item of lanDieuChinh" [value]="item">Điều chỉnh lần {{ item }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-xl-4 text-xl-right">
                                <label class="col-form-label">Quyết định điều chỉnh: </label>
                            </div>
                            <div class="col-xl-8">
                                <b class="ten-fileUpload">{{ tenFileQDDieuChinh }}</b>
                                <button type="submit" class="btn btn-primary btn-sm" (click)="downLoadFileDC()">
                                    <i class="fa fa-download" aria-hidden="true"></i> Tải file</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-xl-4 text-xl-right">
                                <label class="col-form-label">Số quyết định: </label>
                            </div>
                            <div class="col-xl-6 col-md-8">
                                <input type="text" readonly class="form-control" formControlName="soQDdieuChinh">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-xl-4 text-xl-right">
                                <label class="col-form-label">Lý do điều chỉnh: </label>
                            </div>
                            <div class="col-xl-8">
                                <textarea autosize type="text" readonly class="form-control" formControlName="lyDoDieuChinh"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset> -->

      <fieldset>
        <legend>Thông tin chung</legend>
        <div id="thong-tin-chung">
          <div class="row">
            <div class="col-xl-4">
              <p class="col-form-label">Năm:
                <b>{{ kehoach ? kehoach.keHoachYear : ''}}</b>
              </p>
            </div>
            <div class="col-xl-6"></div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <p class="col-form-label">Tên kế hoạch:
                <b>{{ kehoach ? kehoach.tenKeHoach : ''}}</b>
              </p>
            </div>
            <div class="col-xl-6">
              <p class="col-form-label">Ngày tạo:
                <b>{{ kehoach ? (kehoach.ngayQuyetDinhTaoKeHoach | date: 'dd/MM/yyyy') : '' }}</b>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <p class="col-form-label">Số quyết định:
                <b>{{ kehoach ? kehoach.soQuyetDinhTaoKeHoach : '' }}</b>
              </p>
            </div>
            <div class="col-xl-6">
              <p class="col-form-label">Ngày ký quyết định:
                <b>{{ kehoach ? (kehoach.ngayKyQDTaoKeHoach | date: 'dd/MM/yyyy') : '' }}</b>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <p class="col-form-label">Người ký quyết định:
                <b>{{ kehoach ? kehoach.nguoiKyQDTaoKeHoach : ''}}</b>
              </p>
            </div>
            <div class="col-xl-6">
              <span class="col-form-label">File quyết định:
              </span>
              <b class="ten-fileUpload">{{ tenFileQD }}</b>
              <button type="submit" class="btn btn-primary btn-sm" (click)="downLoadFile()" *ngIf="tenFileQD">
                <i class="fa fa-download" aria-hidden="true"></i> Tải file</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <p class="col-form-label">Người gửi:
                <b>{{ kehoach ? kehoach.tenNguoiTao : '' }}</b>
              </p>
            </div>
            <div class="col-xl-6">
            </div>
          </div>
        </div>
      </fieldset>
      <ng-container *ngIf="isDieuChinh">
        <ttkt-thong-tin-dieu-chinh [chiTietKH]="kehoach" [coDieuChinhTu]="false"></ttkt-thong-tin-dieu-chinh>
      </ng-container>
      <fieldset>
        <legend>Danh sách kế hoạch </legend>
        <ttkt-list-ke-hoach-bhxh-vn-table [listKeHoach]="listKeHoach"></ttkt-list-ke-hoach-bhxh-vn-table>
        <button class="btn btn-success" data-toggle="modal" data-target="#showDialogHistory" style="margin-bottom: 15px" [disabled]="isDisableLS">
          <i class="fa fa-check-square-o" aria-hidden="true"></i> Xem lịch sử ({{ soLSChinhSua }})</button>
          <div class="pull-right mb-2">
            <span class="router" (click)="goToDanhSachCacTinh()">Danh sách các tỉnh</span>
          </div>
        </fieldset>
    </form>
  </div>
</div>
<!-- Show dialog LS-->
<ng-container *ngIf="listLichSu != undefined ">
  <div class="modal " id="showDialogHistory">
    <div class="modal-dialog modal-lg">
      <ttkt-show-dialog-history [chiTietKH]="kehoach" [listLichSu]="listLichSu" [twGiao]="'true'"></ttkt-show-dialog-history>
    </div>
  </div>
</ng-container>

<div bsModal #printDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog printDocDia">
    <div class="modal-content printDoc">
      <div class="modal-body">
        <button type="button" class="close pull-right" (click)="printDocument.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <iframe id="iframePrint" src="" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmitPrintDocument()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
        <button type="button" class="btn btn-default" (click)="printDocument.hide()">
          <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #duyetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Duyệt kế hoạch</h4>
        <button type="button" class="close pull-right" (click)="duyetModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Bạn có chắc chắn muốn duyệt kế hoạch?</h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="onSubmitDuyet()">
          <i class="fa fa-check-square-o" aria-hidden="true"></i> Duyệt</button>
        <button class="btn btn-default" (click)="duyetModal.hide()">
          <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
      </div>
    </div>
  </div>
</div>
