<div class="table-responsive table-scroll-x">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th rowspan="2">STT
        </th>
        <th rowspan="2">BHXH Tỉnh/TP</th>
        <th rowspan="2">Thanh tra chuyên
          <br>ngành đóng</th>
        <th rowspan="2">Thanh tra, kiểm tra
          <br>liên ngành</th>
        <th colspan="4">Kiểm tra</th>
        <th rowspan="2">Tổng số</th>
        <th rowspan="2">Ngày gửi</th>
      </tr>
      <tr>
        <th>Nội bộ cơ
          <br> quan BHXH</th>
        <th>Đơn vị
          <br> SDLĐ</th>
        <th>Cơ sở khám
          <br> chữa bệnh</th>
        <th>Đại lý thu,
          <br> đại diện chi trả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of chiTietKH; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-left">
          <p class="redirectChitiet">{{item.tenTinhHuyen ? item.tenTinhHuyen : ''}}</p>
        </td>
        <td class="text-right">{{ item.chiTietKhTinh.thanhTraDvSDLD }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.lienNganhThanhTra + item.chiTietKhTinh.lienNganhKiemTra }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.kiemTraBHXH }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.kiemTraDvSDLD }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.kiemTraCsKCB }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.kiemTraDaiLyThuChi }}</td>
        <td class="text-right">{{ item.chiTietKhTinh.tongSo }}</td>
        <td class="text-center">
          <p>{{ item.chiTietKhTinh.ngayGuiTW | date: "dd/MM/yyyy" }} </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
