@import './../../../../../../../styles/_variables.scss';
.cnt-page.ttkt-page {
    .ttkt-form-default {
        .router {
            cursor: pointer;
            color: $colorBlue;
            text-decoration: underline;
        }
        .router:hover {
            color: red;
            text-decoration: underline;
        }
    }
}

.table-responsive {
    thead {
        background-color: $colorLightGray;
        tr {
            th {
                text-align: center;
                vertical-align: middle
            }
        }
    }
    tbody {
        tr {
            // td {
            //     text-align: center;
            // }
        }
    }
}

iframe {
    width: 100%;
    height: 1200px;
}

.printDoc {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.printDocDia {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}