@import './../../../../../styles/variables.scss';
thead {
    background-color: $colorLightGray;
    tr {
        th {
            text-align: center;
        }
    }
}

.nguoiduoctiep {
    margin-top: 2rem;
}

.nguoiuyquyen {
    margin-top: 2rem;
}

.giayuyquyen {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.lbl {
    font-style: italic;
}

.noidungLydo {
    margin-left: 1rem;
}