<h4 class="heading-page">
  <div class="row">
    <div class="col-md-6">
      <span class="page-title">Lịch sử tiếp công dân</span>
    </div>
    <!-- <div class="col-md-6 pull-right">
      <button class="btn btn-default" (click)="isCollapseDirective = !isCollapseDirective">
        <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
    </div> -->
  </div>
</h4>
<div class="cnt-page ttkt-page">
  <div class="ttkt-form-default">
    <form novalidate [formGroup]="lichsuTiepCDForm">
      <div>
        <fieldset class="fieldset-search">
          <legend>Thông tin tìm kiếm</legend>
          <div id="thongtintimkiem">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Từ ngày: </label>
                  </div>
                  <div class="col-xl-7">
                    <my-date-picker [options]="myDatePickerOptions" locale="vi" formControlName="fromDate"></my-date-picker>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Đến ngày: </label>
                  </div>
                  <div class="col-xl-7">
                    <my-date-picker [options]="myDatePickerOptions" locale="vi" formControlName="toDate"></my-date-picker>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Tên công dân: </label>
                  </div>
                  <div class="col-xl-7">
                    <input formControlName="hoten" type="text" class="form-control" placeholder="" ng-trim="true">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-xl-5 text-xl-right">
                    <label class="col-form-label">Nội dung: </label>
                  </div>
                  <div class="col-xl-7" *ngIf="loaiNoidung && loaiNoidung.length > 0">
                    <select class="form-control" formControlName="idNoiDung">
                      <option value="0">Chọn</option>
                      <option *ngFor="let item of loaiNoidung" [value]="item.id">{{ item.tenNoiDung }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button class="btn btn-default" (click)="search(true)">
              <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
          </div>
        </fieldset>
      </div>
      <fieldset>
        <legend>Danh sách chi tiết</legend>
        <div class="row" *ngIf="listCoQuan && listCoQuan.length > 0">
          <div class="offset-md-8 col-md-4">
            <ttkt-input 
              type="select" label=""
              [fullWidth]="true" 
              formControlName="coQuan"
              [data]="{
                options: listCoQuan,
                valueType: 'tenDonVi',
                firstOption: 'Chọn tất cả'
              }"></ttkt-input>
          </div>
        </div>
        <div class="table-responsive table-scroll-x">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="th-size">STT</th>
                <th class="table-resize">Họ tên công dân</th>
                <th>Địa chỉ</th>
                <th>Phân loại</th>
                <th class="table-resize">Nội dung công dân trình bày</th>
                <th class="table-resize">Nội dung cán bộ trả lời</th>
                <th>Ngày tiếp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dslichsu.length == 0">
                <td class="text-center" colspan="7">Không có dữ liệu</td>
              </tr>
              <tr *ngFor="let item of dslichsu; let i = index">
                <td class="text-center">{{pagging.currentPage*pagging.itemsPerPage +i + 1}}</td>
                <td class="text-primary">
                    <a (click)="goToChiTietLichsu(item.id)">{{item.nguoiDuocTieps[0].congDan?.hoVaTen}}</a>
                </td>
                <td>{{item.nguoiDuocTieps[0].congDan?.diaChi}}</td>
                <td>{{ item?.tenPhanLoaiNoiDung ? item?.tenPhanLoaiNoiDung: ''}}</td>
                <td>{{ item?.congDanTrinhBay ? item?.congDanTrinhBay: ''}}</td>
                <td>{{ item?.canBoTraLoi ? item?.canBoTraLoi: ''}}</td>
                <td class="text-center">{{ item.ngayTiepDan | date:"dd/MM/yyyy"}}</td>
              </tr>
            </tbody>
          </table>

          <!-- pagination -->
          <nav aria-label="Page navigation example" *ngIf="pagging.totalItems > 1" class="pull-right">
            <pagination [totalItems]="pagging.totalItems" [itemsPerPage]="pagging.itemsPerPage" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </nav>
        </div>
      </fieldset>
    </form>
  </div>
</div>
