@import './../../../../../styles/_variables.scss';
#bhxh_vn,
#bhxh_tinh,
.bhxh_huyen {
  margin-left: 1rem;
}

// display: inline-block;
// content: "";
// position: absolute;
// top: -12px;
// bottom: 13px;
// left: 6px;
// border: 1px dotted #999;
// border-width: 0 0 0 1px;
// z-index: 1;
//i
// display: inline-block;
// content: "";
// position: absolute;
// top: 8px;
// left: 6px;
// width: 12px;
// height: 0;
// border-top: 1px dotted #999;
// z-index: 1;

.bhxh_tinh:hover,
.bhxh_huyen:hover {
  cursor: pointer;
  color: $colorBlue;
  text-decoration: underline;
}

#cocauphongban {
  #thongtinchung {
    margin-left: 1rem;
  }
  table {
    thead {
      background-color: $colorLightGray;
      th {
        text-align: center;
        vertical-align: middle;
      }
    }
    tbody {
      td {
        text-align: center;
      }
      td:nth-child(3) {
        text-align: left;
      }
      td:last-child {
        i:first-child {
          margin-right: 0.1rem;
          color: #6495ed;
        }
        i:last-child {
          color: #ff0000;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}

#modalPhongBan {
  .modal-body {
    .row {
      margin-bottom: 1rem;
    }
  }
  .modal-footer {
    // i {
    //   margin-right: 0.5rem;
    // }
  }
}

.fa-book {
  color: $colorBlue;
}

.fa-sign-in {
  color: #4CAF50;
}

.errMessage,
.required,
.fa-exclamation-triangle {
  color: #ff0000;
}