@import './../../../../../../styles/_variables.scss';
:host {
    display: block;
}

.border-top {
    border-top: 1px solid #000;
}

.border-bottom {
    border-bottom: solid 1px $colorLightGray;
    .ttkt-node {
        border-bottom: solid 1px $colorLightGray;
        margin-bottom: 15px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
        i {
            margin-right: 10px;
        }
    }
}

.btn {
    white-space: normal;
}

.custom-control {
    top: 5px;
}
.custom-control-input:disabled ~ .custom-control-indicator {
    background-color: #ddd;
}
table {
    tbody {
        td:first-child,
        td:last-child {
            text-align: center
        }
        textarea {
            &:disabled {
                width: 100%;
                border: none;
                background-color: transparent;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}

.dp-popup {
    z-index: 1000;
    top: calc(100% + 1px);
    position: absolute;
}

textarea {
    &:disabled {
        width: 100%;
        border: none;
        background-color: transparent;
        &:hover {
            cursor: default;
        }
    }
}

.min-width-25 {
    min-width: 25%;
}

iframe {
    width: 100%;
    height: 1200px;
}

.printDoc {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.printDocDia {
    width: 100%;
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.visibled {
    display: none;
}