@import './../../../../../styles/_variables.scss';
.visibled {
    display: none;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
// .td-c1 {
//     font-weight: bolder;
//     text-transform: uppercase;
// } 
// .td-c2 {
//     text-transform: uppercase;
//     padding-left: 10px;
// }
// .td-c3 {

// }
@media (min-width: 576px) {
    .modal-dialog.modal-md-custom {
        max-width: 700px;
    }
}