<h4 class="heading-page">
  <div class="row">
    <div class="col-md-6">
      <span class="page-title">Tạo mới báo cáo tổng hợp cấp Tỉnh</span>
    </div>
    <div class="col-md-6 pull-right">
      <!-- <button type="button" class="btn btn-primary" (click)="onLuuDieuChinh()" *ngIf="luuDieuChinh==true">
        <i class="fa fa-pencil" aria-hidden="true"></i> Điều chỉnh</button>
      <button type="button" class="btn btn-success" (click)="onDuyet()" *ngIf="duyet==true">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Duyệt</button>
      <button type="button" class="btn btn-primary" (click)="onSua()" *ngIf="sua==true">
        <i class="fa fa-pencil" aria-hidden="true"></i> Sửa</button> -->
      <button type="button" class="btn btn-primary" (click)="onLuuTaoSua('tao')" *ngIf="luuTao==true">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
      <!-- <button type="button" class="btn btn-primary" (click)="onLuuTaoSua('sua')" *ngIf="luuSua==true">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button> -->
      <button type="button" class="btn btn-link" (click)="onBack()">
        <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i> Trở lại</button>
    </div>
  </div>
</h4>
<div class="cnt-page ttkt-page">
  <div class="ttkt-form-default">
    <form novalidate [formGroup]="creatBCTongHopTwForm">
      <fieldset>
        <legend>Thông tin chung</legend>
        <div class="kq-ttkt child-node">
          <div class="ttkt-node show">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span>Thông tin báo cáo</span>
          </div>
          <!-- <div class="form-group row">
            <label for="" class="col-form-label col-md-2 text-md-right">Tên báo cáo: </label>
            <div class="col-md-6 col-xl-5">
              <input class="form-control" type="text" formControlName="tenBc">
            </div>
          </div> -->
          <ttkt-input
            type="text"
            md="2-6"
            label="Tên báo cáo"
            formControlName="tenBc"
          ></ttkt-input>
          <ttkt-input
            type="text"
            md="2-6"
            label="Số"
            formControlName="soBc"
          ></ttkt-input>
          <!-- <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group row">
                <label for="" class="col-form-label col-md-4 text-md-right">Ngày lập: </label>
                <div class="col-md-8">
                  <my-date-picker [options]="myDatePickerOptions" locale="vi" formControlName="ngayLap"></my-date-picker>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="kq-ttkt child-node">
          <div class="ttkt-node show">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span>Thông tin lọc dữ liệu</span>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <!-- <div class="form-group row">
                <label for="nam" class="col-form-label col-md-4 text-lg-right">Năm: </label>
                <div class="col-md-8">
                  <select class="custom-select" id="nam" formControlName="nam">
                    <option value="" selected>Chọn</option>
                    <option *ngFor="let choice of namOptions" [value]="choice.nam">{{ choice.nam }}</option>
                  </select>
                </div>
              </div> -->
              <ttkt-input
                type="nam"
                md="4-8"
                label="Năm"
                formControlName="nam"
              ></ttkt-input>
            </div>
          </div>
           <!-- <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group row no-margin-bt">
                <div class="form-check form-check-inline col-md-2 col-xl-1">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" formControlName="options" value="{{thang_option}}" (change)="changeOption()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Tháng</span>
                  </label>
                </div>
                <div class="form-check form-check-inline col-md-4 col-xl-3">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" formControlName="options" value="{{luyKe_option}}" (change)="changeOption()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Lũy kế</span>
                  </label>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <ttkt-input
                type="thang"
                label="Tháng"
                formControlName="thang"
                md="4-8"
              ></ttkt-input>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="offset-md-4">
              <button type="button" class="btn btn-primary tong-hop-mau01 mb-3" (click)="showTongHopKQ()">
                <i class="fa fa-search-plus" aria-hidden="true"></i> Tổng hợp kết quả</button>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="bang-th" *ngIf="displayKQ">
        <ttkt-chitiet-so-tonghop-kq-form [data]="soTongHop" [passData]="true" title="Báo cáo tổng hợp" [typeAccount]="typeAccount"></ttkt-chitiet-so-tonghop-kq-form>
      </div>
    </form>
  </div>
</div>

<!-- duyet modal -->
<div bsModal #duyetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Duyệt báo cáo tổng hợp</h5>
        <button type="button" class="close pull-right" (click)="duyetModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Bạn có chắc chắn muốn báo cáo tổng hợp?</h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="onSubmitDuyet()">
          <i class="fa fa-check-square-o" aria-hidden="true"></i> Duyệt</button>
        <button class="btn btn-default" (click)="duyetModal.hide()">
          <img src="assets/images/icon_dong.svg" class="img-close">Thoát</button>
      </div>
    </div>
  </div>
</div>
