.danger {
    color: red;
}
iframe {
    width: 100%;
    height: 1200px;
}
.printDoc {
    height: auto;
    min-height: 100%;
    border-radius: 0;  
}
.printDocDia {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.visibled {
    display: none;
}

.inputcoquan {
    input {
        width: 100%;
    }
}