<h4 class="heading-page">
    <div class="row">
        <div class="col-md-8">
            <span class="page-title-breadcrumb">Thành lập đoàn TTKT</span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="page-title text-primary">Tạo mới quyết định thành lập đoàn TTKT</span>
        </div>
        <div class="col-md-4 pull-right">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</h4>
<div class="cnt-page ttkt-page">
    <div class="ttkt-form-default">
        <ttkt-tao-moi-doan-ttkt-form #tldForm></ttkt-tao-moi-doan-ttkt-form>
    </div>
</div>